{% extends 'blog/back_office/base.html' %}

{% block main %}

 <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2> La liste des Categories</h2>

        </div>
    </div>
            <a href="{% url 'create_category'%}"  class="btn btn-primary"> Create Category </a>
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for categorie in categories %}
                            <tr>
                                <td>{{categorie.nom}}</td>
                                <td>
                                    <a href="{% url 'update_categorie' categorie.id %}" class="btn btn-danger">Modifier</a>
                                    <a href=" {% url 'categorie_delete' categorie.id %}" class="btn btn-warning">Suppreimer</a>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
</div>

{% endblock %}